// Main Navigation
// ================================
.mainnav {
	display:none;
	/*
	//font-family: $font--base;
	position:fixed;
	overflow:hidden;
	width: $mainnav__width;
	background: $color1;
	top:40px;
	bottom:0;
	left:-($mainnav__width);
	overflow-y:scroll;
	z-index:1000;
	border-right: 1px solid $color1--dark;
	li {
		border-bottom: 1px solid #acacac;
	}
	a, a:visited, a:active {
		padding: 8px 5px;
		background: $color1--light;
		text-decoration:none;
	}
	a:hover {
		background: $color1--lighter;
	}
	*/
}
.topbar {

}